@import '~/src/themes/variables';
@import '~/src/themes/mixins';

@include keyframes(blink) {
    50% { opacity: 0; }
}

@include keyframes(slideOut) {
    0% { transform: translateX(nth($animationstops, 1)); }
    100% { transform: translateX(nth($animationstops, 9)); }
}

@include keyframes(slideInTop) {
    0% { transform: translateY(nth($animationstops, 9) * -1); }
    100% { transform: translateX(nth($animationstops, 1)); }
}

@include keyframes(slideInLeft) {
    0% { transform: translateX(nth($animationstops, 9) * -1); }
    100% { transform: translateX(nth($animationstops, 1)); }
}