@mixin flex($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
      @content; 
    }

    @-moz-keyframes #{$name} {
      @content;
    }

    @-ms-keyframes #{$name} {
      @content;
    }

    @keyframes #{$name} {
      @content;
    } 
}

@mixin font($size, $lineHeight, $weigth, $color: var(--color-primary-text), $family: Raleway) {
    font-family: $family;
    font-size: #{$size};
    line-height: #{$lineHeight};
    font-weight: $weigth;
    color: $color;
}