@mixin flex($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
      @content; 
    }

    @-moz-keyframes #{$name} {
      @content;
    }

    @-ms-keyframes #{$name} {
      @content;
    }

    @keyframes #{$name} {
      @content;
    } 
}