:root {
    --color-primary: #050505;
    --color-secondary: #F3F3F3;
    
    --color-primary-text: #FFF;
    --color-secondary-text: #AEAEAE;
}

$animationstops: 0%, 20%, 25%, 45%, 50%, 70%, 75%, 95%, 100%;
$delays: 1.25s, 1s, .75s, .5s, .25s, 0s, -6s, -4s, -2s;