@import '~/src/themes/variables';
@import '~/src/themes/mixins';
@import '~/src/themes/keyframes';

.loading {
    height: 100vh;
    width: 100%;
    background-color: var(--color-primary);
    @include flex(center, center);

    img {
        animation: blink nth($delays, 1) linear 3 nth($delays, 5);
    }
}

.hide {
    position: absolute;
    animation: slideOut nth($delays, 2) forwards;
}