@import '~/src/themes/variables';
@import '~/src/themes/mixins';
@import '~/src/themes/keyframes';

.container {
    position: relative;
    height: 100vh;
    width: 100vw;

    .leftSide {
        @include flex(center, flex-start);
        flex-direction: column;
        position: absolute;
        left: 0;
        padding-left: 90px;
        width: 65%;
        height: 100%;
        background-color: var(--color-primary);
        animation: slideInTop nth($delays, 2) forwards;

        h1 {
            @include font(10em, 185px, 400);
            margin: 0;
        }

        h2 {
            @include font(5.7em, 185px, 400);
            margin: 0;
        }
    }

    .rightSide {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: var(--color-secondary);
        position: absolute;
        right: 0;
        width: 35%;
        height: 100%;

        .translate {
            position: absolute;
            top: 18px;
            right: 22px;
        }
    }
}