@import '~/src/themes/variables';
@import '~/src/themes/mixins';
@import '~/src/themes/keyframes';

.container {
    position: relative;
    height: 100vh;
    width: 100vw;

    .leftSide {
        font-family: Raleway;
        @include flex(center, flex-start);
        flex-direction: column;
        position: absolute;
        left: 0;
        padding-left: 60px;
        width: 65%;
        height: 100%;
        background-color: var(--color-primary);
        color: var(--color-primary-text);
        animation: slideInTop nth($delays, 2) forwards;

        h1 {
            font-size: 10em;
            font-weight: normal;
            line-height: 185px;
            margin: 0;
        }

        h2 {
            font-size: 5.7em;
            font-weight: normal;
            line-height: 110px;
            margin: 0;
        }
    }

    .rightSide {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: var(--color-secondary);
        position: absolute;
        right: 0;
        width: 35%;
        height: 100%;
    }
}